<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>雨无声 &middot; 曝光台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/template/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="/template/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/template/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/template/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/template/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/template/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/template/assets/ico/favicon.png">
  </head>

  <body>
  

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
      <div class="span3" style="background:white; ">
      <h2>个人简介</h2>
      <hr>
        <strong>账号</strong>:<span id="userName" class="text-info"></span><hr>
         <strong>昵称</strong>:<span id="nick" class="text-info"></span>
         <hr>
         <strong>邮件</strong>:<span id="email"class="text-info"></span><hr>
        
        </div>
      <div class="span5 hero-unit" style="background:white;border:1px solid #DDDDDD;">
      	<div id="question">
      	
      </div>
<textarea rows="4" class="span5" id="solutionContext"></textarea></br>
<button class="btn" onclick="updateQ()" >更新</button>
<hr>
<div id="solution">

</div>

<button class="btn btn-info" id="getSolutionButton" onclick="getMoreSolutions()">获取更多</button>
      </div>
      <div class="span2" style="background:white; ">
       <h3>其他曝光</h3>
        <hr>
        <div id="otherQ">
        
        </div>
        <button class="btn btn-info" onclick="getMoreOQ(this)">获取更多</button>
        </div>
      </div>
      

      

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->

  <script src="/template/assets/js/jquery.js"></script>
    <script src="/template/assets/js/bootstrap.min.js"></script>
  </body>
  <script type="text/javascript">
   var myQTime = 0;
   var mySTime = 0;
   var myAtime = 0;
   var qId = 0;
   var uId = 0;
   function getQueryString(name) {//获取url中的参数
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
    }
   function getQByQId() {
   	// body...
   	qId = getQueryString("qId");
   	$.ajax({
   type: "GET",
   url: "/myQ/"+qId+"/"+myQTime+"/"+"5",
   success: function(msg){
      handleFirst(msg);
   }
});
   }
   function handleQuestions(msg) {
  	// body...
  	var  str = "";
   
   	 for (var i = 0; i < msg.modelMap.questions.length; i++) {
   	 	 if (msg.modelMap.questions[i].context.length>60) {
   	 	 	msg.modelMap.questions[i].context=msg.modelMap.questions[i].context.substr(0,60)+"..........";
   	 	 };
   	 	 str = str+"<strong><a href=\"/template/myQ.html?qId="+msg.modelMap.questions[i].qId+"\">"+msg.modelMap.questions[i].title+"</a></strong>"+msg.modelMap.questions[i].context+"&nbsp;&nbsp;[关注"+msg.modelMap.questions[i].attention+"人]&nbsp;&nbsp;"+datetime.relativeTime(msg.modelMap.questions[i].addTime)+"<hr>";
   	 };
   	 if (msg.modelMap.questions.length>0) { myQTime=msg.modelMap.questions[(i-1)].addTime;};
   	
   	 $("#otherQ").append(str);

  }
   function handleFirst(msg) {
   	// body...
   	 $("#userName").append(msg.modelMap.question.userName);
   	 $("#nick").append(msg.modelMap.question.nick);
   	 $("#email").append(msg.modelMap.question.email);
   	 uId = msg.modelMap.question.uId;
   	 var str = "<h3>"+msg.modelMap.question.title+"</h3>关注["+msg.modelMap.question.attention+"人]&nbsp;&nbsp;&nbsp;<span class=\"text-error\">"+datetime.relativeTime(msg.modelMap.question.addTime)+"</span><hr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+msg.modelMap.question.context+"<hr>";
   	 $("#question").append(str);
   	 str = "";
   	 for (var i = 0; i < msg.modelMap.solutions.length; i++) {
   	 	str = str+"<span><a href=\"#\">"+msg.modelMap.solutions[i].nick+"[网友]</a>：</span>"+msg.modelMap.solutions[i].context+"["+datetime.relativeTime(msg.modelMap.solutions[i].addTime)+"]<hr>";
   	 };
   	 if (msg.modelMap.solutions.length>0) {mySTime=msg.modelMap.solutions[(i-1)].addTime;};
   	 
   	 $("#solution").append(str);
   	 //str = "";
     handleQuestions(msg);
   	 // for (var i = 0; i < msg.modelMap.questions.length; i++) {
   	 // 	 if (msg.modelMap.questions[i].context.length>60) {
   	 // 	 	msg.modelMap.questions[i].context=msg.modelMap.questions[i].context.substr(0,60)+"..........";
   	 // 	 };
   	 // 	 str = str+"<strong><a href=\"#\">"+msg.modelMap.questions[i].title+"</a></strong>"+msg.modelMap.questions[i].context+"<hr>";
   	 // };
   	 // myQTime=msg.modelMap.questions[(i-1)].addTime;
   	 // $("#otherQ").append(str);

   }

    window.onload = function(){
     var myDate = new Date(); 
     myQTime = myDate.getTime();
     mySTime = myQTime;
     myAtime = mySTime;
     getQByQId();
    }
  
    function getMoreSolutions() {
    	// body...
    	$.ajax({
    type: "GET",
    url: "/getSolutions/"+qId+"/5"+"/"+mySTime,
    success: function(msg){
    	if (msg.modelMap.solutions.length>0) {
      var str = "";
   	 for (var i = 0; i < msg.modelMap.solutions.length; i++) {
   	 	str = "<span><a href=\"#\">"+msg.modelMap.solutions[i].nick+"[网友]</a>：</span>"+msg.modelMap.solutions[i].context+"["+datetime.relativeTime(msg.modelMap.solutions[i].addTime)+"]<hr>";
   	 };
   	 mySTime=msg.modelMap.solutions[(i-1)].addTime;
   	 $("#solution").append(str);

   	 } else{
       $("#getSolutionButton").empty();
       $("#getSolutionButton").append("没有更多了");
   	 };
    }
});
    }

    function getMoreOQ(e) {
    	// body...
    	$.ajax({
   type: "GET",
   url: "/getQuestions/5/"+myQTime+"/"+uId,
   success: function(msg){
     if (msg.modelMap.questions.length>0) {
       handleQuestions(msg);
     } else{
       $(e).empty();
       $(e).append("没有更多");
     };
   }
});
    }
    function updateQ() {
    	// body...
    	$.ajax({
      type: "POST",
      url: "/updateQ/"+qId,
      data: "newContext="+$("#solutionContext").val(),
     success: function(msg){
      if (msg.modelMap.result==="yes") {
     	var str = "<strong><==============更新============></br></strong>"+$("#solutionContext").val()+"<hr>";
        $("#question").append(str);
        };
   },
    error: function () {
    	// body...
    	alert("可能是由于您没有登录的原因");
    }
});
    }

    function  getMyAQ() {
      // body...
      $.ajax({
   type: "GET",
   url: "/aQ/update/5/"+myAtime,
   success: function(msg){
     alert( "Data Saved: " + msg.modelMap.questions.length );
   }
});
    }
    var datetime = (function() {
  return {
    relativeTime: function(millis) {
      var now = new Date().getTime();
      var offset = now - millis;

      if (offset < 0) {
        return "未来";
      }
      // 秒杀
      var second = 1000;
      if (offset < second * 10) {
        return "刚刚~";
      }
      // xx秒前
      var minute = 60 * second;
      if (offset < minute) {
        return Math.ceil(offset / second) + "秒前";
      }
      // xx分钟前
      var hour = minute * 60;
      if (offset < hour) {
        return Math.ceil(offset / minute) + "分钟前";
      }
      // xx小时前
      var day = hour * 24;
      if (offset < day) {
        return Math.ceil(offset / hour) + "小时前";
      }
      // xx天前，简单起见，每个月假设都为30天
      var month = day * 30;
      if (offset < month) {
        return Math.ceil(offset / day) + "天前";
      }
      // xx月前
      var year = month * 12;
      if (offset < year) {
        return Math.ceil(offset / month) + "个月前";
      }
      // xx年前
      return Math.ceil(offset / year) + "年前";
    },
    format: function(pattern, timeMills) {
      if (pattern === 'yyyy-MM-dd HH:mm:ss') {
        var date = new Date(timeMills);
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();

        month = month < 10 ? '0' + month : month;
        day = day < 10 ? '0' + day : day;
        hour = hour < 10 ? '0' + hour : hour;
        minute = minute < 10 ? '0' + minute : minute;
        second = second < 10 ? '0' + second : second;

        return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
      }
    }
  }
})(window);
  </script>
</html>